{% extends "layout" %}
 
{% block content %}
 
<h2>Helyfoglalas</h2>
 
{% if old('errors') %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Hibák</h3>
  </div>
  <div class="panel-body">
    <ul>
      {% for error in old('errors') %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
 
<div class="form-horizontal">
    <form class="form-horizontal" action="{{ 'reserve' | route({id: movie.id}) }}" method="POST">
    {{ csrfField }}
    <div class="form-group">
        <label for="checkboxes" class="col-lg-2 control-label">Válasszon helyet!</label>
        {% for seat in seats %}
                {% if seat.movie_id == movie.id %}
                    {% if seat.taken == 0 %}
                        <li><label><input type="checkbox" name="{{ seat.seat}}" onchange="Function{{seat.seat}}()"/>{{seat.seat}}</label></li>
                    {% else %}
                        <label>{{seat.seat}} - TAKEN</label>
                    {% endif %}
                {% endif %}
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="nev" class="col-lg-2 control-label">Adja meg a nevét!</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="name" name="name" required>{{old('name')}}</textarea>
            <span class="help-block">Leírás</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Mégsem</button>
        <button type="submit" class="btn btn-primary">Küldés</button>
        </div>
    </div>
    </form>
</div>
 
{% for seat in seats %}
    <script>
        function Function{{seat.seat}}() {
            if ( document.getElementById("{{seat.seat}}").value == 0) {
                document.getElementById("{{seat.seat}}").value = 1;
            } else {
                document.getElementById("{{seat.seat}}").value = 0;
            }
        }
    </script>
{% endfor %}
 
{% endblock %}